<span>MinMax$: {{minMax$ | async | json}}</span>
<table cdk-table [dataSource]="dataSource$" class="table table-striped" style="background-color: lightgrey;">

  <!-- HEADER & ROW declarations -->
  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columns" [ngClass]="{
    'bg-success': (minMax$ | async)?.max === row.health,
    'bg-danger': (minMax$ | async)?.min === row.health
  }"></tr>

  <!-- Hero name column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef> Hero name </th>
    <td cdk-cell *cdkCellDef="let row">{{row.name}}</td>
  </ng-container>
  <!-- types column -->
  <ng-container cdkColumnDef="types">
    <th cdk-header-cell *cdkHeaderCellDef> types</th>
    <td cdk-cell *cdkCellDef="let row">{{row.types}}</td>
  </ng-container>
  <!-- attack column -->
  <ng-container cdkColumnDef="attack">
    <th cdk-header-cell *cdkHeaderCellDef> attack</th>
    <td cdk-cell *cdkCellDef="let row">{{row.attack}}</td>
  </ng-container>
  <!-- defense column -->
  <ng-container cdkColumnDef="defense">
    <th cdk-header-cell *cdkHeaderCellDef> defense</th>
    <td cdk-cell *cdkCellDef="let row">{{row.defense}}</td>
  </ng-container>
  <!-- speed column -->
  <ng-container cdkColumnDef="speed">
    <th cdk-header-cell *cdkHeaderCellDef> speed</th>
    <td cdk-cell *cdkCellDef="let row">{{row.speed}}</td>
  </ng-container>
  <!-- healing column -->
  <ng-container cdkColumnDef="healing">
    <th cdk-header-cell *cdkHeaderCellDef> healing</th>
    <td cdk-cell *cdkCellDef="let row">{{row.healing}}</td>
  </ng-container>
  <!-- recovery column -->
  <ng-container cdkColumnDef="recovery">
    <th cdk-header-cell *cdkHeaderCellDef> recovery</th>
    <td cdk-cell *cdkCellDef="let row">{{row.recovery}}</td>
  </ng-container>
  <!-- health column -->
  <ng-container cdkColumnDef="health">
    <th cdk-header-cell *cdkHeaderCellDef> health</th>
    <td cdk-cell *cdkCellDef="let row">{{row.health}}</td>
  </ng-container>
  <!-- levelUp column -->
  <ng-container cdkColumnDef="levelUp">
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let row">
      <button (click)="levelUp(row.name)" class="btn btn-success"><i class="fa fa-level-up"
          aria-hidden="true">levelUp!</i></button>
    </td>
  </ng-container>
</table>